/* 重置内容区域最大宽度*/
slides>slide .slide-wrapper{
    max-width: 1200px;
    text-align: left;
}

slides>slide .slide-wrapper h1,slides>slide .slide-wrapper h2{
    text-align: center;
}
.tb td{
  word-break: break-word;
}
.tb td a{
  color: red;
}

.html.hljs,
.javascript.hljs{
    max-height: 800px;
    overflow: auto;
}